# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.env

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Bytecode
*.pyc

# Distribution
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/